.row.content {
    height: 450px;
 
}
.sidenav{
    padding-top: 2px;
    flex-direction: row;
    background-color: lightgoldenrodyellow;
    height: 150%
}
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        flex-direction: row;
        padding: 15px;
    }
}